{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}

<h1> {{usr.name}} </h1> 
<h2> Seen posts: </h2>
<table class="table table-condensed">
    {% for post in seen %}
        <tr>
            <td> {{topic.name}} </td>
        </tr>
    {% endfor %}
</table>

{% if(user_logged_in.id == usr.id) %}
    {{forms.destroy_button("#{base_path}/users/#{usr.id}/destroy")}}
    <a href="{{base_path}}/users/{{usr.id}}/edit" class="btn btn-success">Change password</a>
{% endif %}

{% endblock %}
