{% extends "base.html" %}
{% block content %}

<h1> {{usr.name}} </h1> 
{{usr.id}}
<h2> Seen posts: </h2>
<table class="table table-condensed">
    {% for post in seen %}
        <tr>
            <td> {{topic.name}} </td>
        </tr>
    {% endfor %}
</table>

<form method="post" action="{{base_path}}/users/{{usr.id}}/destroy" style="display: inline-block;">
      <button type="submit" class="btn btn-danger">Delete</button>
</form>

<a href="{{base_path}}/users/{{usr.id}}/edit" class="btn btn-success">Change password</a>

{% endblock %}
