#main-container{
  max-width: 1200px;
  padding: 10px 25px;
  margin: 0px auto;

}

.navbar .container-fluid{
  max-width: 1200px;
  margin: 0px auto;
}

#errorheading {
    color: red;
}

#successheading {
    color: green;
}

body {
    font-family: 'fauna one';
    font-weight: 400;
    color: #2c3e50;
}
