{% extends "base.html" %}
{% block content %}
    <h1>Painikkeet</h1>
    <button class="btn btn-default"> BSnappi </button>
    <button class="btn btn-primary"> BSnappi </button>
    <button class="btn btn-success"> BSnappi </button>
    <button class="btn btn-danger"> BSnappi </button>

    <h1> Text field </h1>
    <input placeholder ="Tavallinen tekstikenttä" type="text">
    <input class="form-control" placeholder="bs tekstikenttä" type="text">
    
    <h1>Taulukot </h1>
    <table>
        <thead>
            <tr>
                <th> Vakio </th>
                <th> Taulukko </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> Lorem </td>
                <td> Ipsum </td>
            </tr>
            <tr>
                <td> Dolor </td>
                <td> Estus </td>
            </tr>
        </tbody>
    </table>
{% endblock %}    
